---
import { Image } from "astro:assets";

interface Props {
  product: Product;
}

const { product } = Astro.props;
---

<article class="product">
  <a
    title={`¡Toca para ver ${product.title}!`}
    href={`/product/${encodeURIComponent(product._id)}`}
    class="product_img--container"
  >
    <Image
      src={product.image_path}
      alt={product.description}
      width={500}
      height={500}
      class="product_img"
    />
  </a>
</article>

<style>
  .product {
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    box-shadow: -4px 4px 8px var(--foreground);
    border-radius: 16px;
    &:hover .product_img {
      animation-play-state: running;
    }
  }
  .product_img--container {
    display: block;
    transform: translateY(-50%);
  }
  .product_img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 4;
    object-fit: contain;
    object-position: center;
    animation: rotatePizza 90s infinite linear;
    animation-play-state: paused;
    filter: drop-shadow(0 0 8px var(--color-brand-1));
    @media (max-width: 768px) {
      animation-play-state: running;
    }
  }

  @keyframes rotatePizza {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
