---
import ProductCard from "@components/shared/product-card.astro";
import WhatsappButton from "@components/shared/whatsapp-button.astro";
import Layout from "@layouts/layout.astro";

// PRODUCTOS
import products from "@mock.json";
---

<Layout>
  <section class="home">
    <h2 class="home_h2">Las mejores <span>pizzas</span></h2>
    <h3 class="home_h3">¡Al mejor precio!</h3>

    <WhatsappButton
      class="home_contact"
      message="Quiero realizar el siguiente pedido (este mensaje es personalizable)"
      title="Realiza tu pedido haciendo click aquí"
    >
      ¡HAZ TU PEDIDO!
    </WhatsappButton>

    <div class="home_grid">
      {products.map((product) => <ProductCard product={product} />)}
    </div>
  </section>
</Layout>

<style>
  .home {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
    padding: 5em 8px 36px 8px;
  }
  .home_h2 {
    font-size: xx-large;
    & > span {
      color: var(--color-brand-1);
    }
  }
  .home_h3 {
  }
  .home_contact {
    padding: 12px 24px;
    border-radius: 16px;
    background: linear-gradient(
      to bottom left,
      var(--color-brand-1) 30%,
      var(--foreground)
    );
    color: var(--background);
    font-weight: bold;
  }
  .home_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
    place-content: center;
    gap: 16px;
  }
</style>
