---
import Logo from "@assets/logo.svg";
---

<header class="header">
  <div>
    <h1 class="header_h1">
      <Logo class="header_logo" />
      Pizzería Palace
    </h1>
  </div>
</header>

<style>
  .header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px;
  }
  .header_h1 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-brand-1);
  }
  .header_logo {
    max-width: 45px;
    height: auto;
  }
</style>
