---
import Logo from "@assets/logo.svg";
import { IconHome2, IconPizza } from "@tabler/icons-react";
import DarkModeButton from "./dark-mode-button.astro";
---

<header class="header">
  <h1 class="header_h1">
    <Logo class="header_logo" />
    <span> Pizzería Palace </span>
  </h1>

  <DarkModeButton />
  <nav class="header_nav">
    <a href="/"><IconHome2 strokeWidth={2} /> <span>Inicio</span> </a>
    <a href="/products"><IconPizza strokeWidth={2} /> <span>Productos</span></a>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px;
  }
  .header_h1 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-brand-1);
    user-select: none;

    & span {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .header_logo {
    max-width: 45px;
    height: auto;
  }

  .header_nav {
    display: flex;
    align-items: center;

    & a {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 12px 24px;
      border-radius: 4px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
      &:hover {
        background-color: var(--color-brand-1);
        color: var(--foreground);
      }
      &:active {
        transform: scale(0.96);
      }
    }
    @media (max-width: 375px) {
      & {
        gap: 8px;
      }
      & > a {
        background-color: var(--color-brand-1);
        color: var(--background);
      }
      & > a > span {
        display: none;
      }
    }
  }
</style>
