---
import Logo from "@assets/logo.svg";
import DarkModeButton from "./dark-mode-button.astro";
import ButtonCart from "./ui/button-cart";
---

<header class="header">
  <a href="/" title="Inicio" aria-label="Volver al inicio">
    <h1 class="header_h1">
      <Logo class="header_logo" />
      <span> Pizzería Palace </span>
    </h1>
  </a>

  <div class="header_container">
    <DarkModeButton transition:persist />

    <ButtonCart client:only="react" />
  </div>
</header>

<style>
  .header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px;

    backdrop-filter: blur(0.3em);
  }
  .header_h1 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-brand-1);
    user-select: none;

    & span {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .header_logo {
    max-width: 45px;
    height: auto;
  }
  .header_container {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 8px;
  }
</style>
