---
import Logo from "@assets/logo.svg";
---

<header class="header">
  <h1 class="header_h1">
    <Logo class="header_logo" />
    Pizzería Palace
  </h1>

  <nav class="header_nav">
    <a href="/"> Inicio </a>
    <a href="/products"> Productos</a>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 16px;
  }
  .header_h1 {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--color-brand-1);
    user-select: none;
  }
  .header_logo {
    max-width: 45px;
    height: auto;
  }

  .header_nav {
    display: flex;
    align-items: center;

    & a {
      padding: 12px 24px;
      border-radius: 4px;
      transition:
        background-color 0.3s ease,
        transform 0.2s ease;
      &:hover {
        background-color: var(--color-brand-1);
      }
      &:active {
        transform: scale(0.96);
      }
    }
  }
</style>
