.add_item_button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: "Primary";
  width: 100%;
  padding: 8px 16px;
  background-color: rgb(80, 80, 255);
  border-radius: 16px;
  color: #fff;
}
